<template>
  <v-col v-if="config.type !== 'map'">
    <v-card>
      <v-card-title secondary-title> {{ config.title }} </v-card-title>
      <v-card-text>
        <v-row>
            <v-combobox
                v-if="config.type === 'select'"
                :items="config.items || []"
                v-model="value"
                :label="config.title"
                :multiple="config.multiple"
                chips
            />
            <v-range-slider
              v-else-if="config.type === 'slider'"
              v-model="sliderValue"
              :min="config.min || getMinMax()[0]"
              :max="config.max || getMinMax()[1]"
              :step="config.step || 0.1"
              @change="setSliderValue"
            >
              <template v-slot:append>
                <v-text-field
                  v-model="sliderValue[1]"
                  class="mt-0 pt-0"
                  type="number"
                  style="width: 60px"
                />
              </template>
              <template v-slot:prepend>
                <v-text-field
                  v-model="sliderValue[0]"
                  class="mt-0 pt-0"
                  type="number"
                  style="width: 60px"
                />
              </template>
            </v-range-slider>
        </v-row>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
export default {
    name: "ChartFilter",
    props: {
        config: Object
    },
    data: () => ({
        value: null,
        sliderValue: [0,100],
        filter: {}
    }),
    watch: {
        value () {
            const cql = this[this.config.type]()
            this.filter = {
              chartHashes: this.config.chartHashes,
              keys: this.config.keys,
              value: cql
            }
            this.$emit("chartFilter")
        }
    },
    // some more comments
    created () {
      if (this.config.type === "slider") {
        const minmax = this.getMinMax()
        this.value = minmax
        this.sliderValue = minmax
      }
    },
    methods: {
      select () {
        if (this.value.length > 0) {
          // eslint-disable-next-line quotes
          return `${this.config.attribute} IN (${JSON.stringify(this.value).replace(/"/g, '\'').slice(1, -1)})`
        }
        return null
      },
      slider () {
        const cql = `${this.config.attribute} BETWEEN '${this.value[0]}' AND '${this.value[1]}'`

        return cql
      },
      map () {
        // logic for map interaction
        // see https://bitbucket.org/till-hcu/materportal-dashboard/branch/generic-dashboard
      },
      getMinMax () {
        // add logic to retrieve min and max values for WFS
        return this.config.minmax || [0, 100]
      },
      setSliderValue () {
        this.value = this.sliderValue
      } 
    }
}
</script>
