<template>
    <div>
        <v-container grid-list-lg>
          <v-card>
            <v-card-text flex dense>
              <v-row dense>
                <v-col>
                  Letzte Berechnungszeit:
                </v-col>
                <v-col>
                  <p style="text-align:right">
                    {{ executionTime.toLocaleString('de-DE') }} ms
                  </p>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-container>
        <AggregationBuilder />
        <StoredQueries />
        <ChartBuilder />
        <FilterBuilder />
        <StoredFilters />
        <ChartPreview />
        <ExportDashboard />
    </div>
</template>
<script>
import { mapActions, mapState } from "vuex"
import AggregationBuilder from "../components/AggregationBuilder.vue"
import ChartPreview from "../components/ChartPreview.vue"
import ChartBuilder from "../components/ChartBuilder.vue"
import StoredQueries from "../components/StoredQueries.vue"
import FilterBuilder from "../components/FilterBuilder.vue"
import StoredFilters from "../components/StoredFilters.vue"
import ExportDashboard from "../components/ExportDashboard.vue"

export default {
    name: "DashboardBuilder",
    components: {
        AggregationBuilder,
        ChartBuilder,
        ChartPreview,
        StoredQueries,
        FilterBuilder,
        StoredFilters,
        ExportDashboard
    },
    computed: {
        ...mapState(["executionTime"])
    },
    mounted () {
        this.initialize()
    },
    methods: {
        ...mapActions(["initialize"])
    }
}
</script>
