<template>
  <v-container grid-list-lg>
    <v-card>
      <v-card-title primary-title> Dashboard </v-card-title>
      <v-card-title
        v-if="emptyRequestError"
        secondary-title
      >
        Error : No Chart Hashes passed
      </v-card-title>
      <v-card-title
        v-if="genericCharts.length === 0 && !emptyRequestError"
        secondary-title
      >
        Daten werden geladen
      </v-card-title>
      <v-card-text v-if="genericCharts.length > 0">
        <template v-if="genericFilters.length > 0">
          <v-row>
            <ChartFilter
              v-for="filter in genericFilters"
              :key="filter.name"
              :ref="filter.name"
              :config="filter"
              @chartFilter="updateFilters"
            />
          </v-row>
        </template>
        <template>
          <v-row>
            <v-col
              v-for="(chart, i) in genericCharts"
              :key="i"
              :cols="(12 / genericCharts.length) >= 3 ? (12 / genericCharts.length) : 3"
            >
              <v-card>
                <v-card-title secondary-title>
                  Some Chart {{ i + 1 }}
                </v-card-title>
                <component
                  :is="componentName(chart.chartType)"
                  :chartOptions="chart.chartOptions.options"
                  :chartData="chart.chartData"
                  :hash="chart.hash"
                  :additionalOptions="activeFilters"
                />
              </v-card>
            </v-col>
          </v-row>
        </template>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { generateStoreGetterSetter } from "@/store/utils/generators"
import { mapActions, mapState } from "vuex"
import ChartOptions from "@/config/chart_options.json"
import BarChart from "@/components/charts/chartjs/BarChart"
import PieChart from "@/components/charts/chartjs/PieChart"
import LineChart from "@/components/charts/chartjs/LineChart"
import PolarAreaChart from "@/components/charts/chartjs/PolarAreaChart"
import BarChartHorizontal from "@/components/charts/chartjs/BarChartHorizontal"
import TreeMap from "@/components/charts/chartjs/TreeMap"
import ChartFilter from "@/components/charts/ChartFilter"

export default {
    name: "GenericDashboard",
    components: {
      BarChart,
      PieChart,
      LineChart,
      PolarAreaChart,
      BarChartHorizontal,
      TreeMap,
      ChartFilter
    },
    data: () => ({
      emptyRequestError: false,
      chartTypes: ["line", "bar", "horizontalBar", "radar", "doughnut", "polarArea", "bubble", "pie", "scatter"],
      charts: [],
      activeFilters: [],
      filters: []
    }),
    computed: {
    ...generateStoreGetterSetter([
      ["chartType", "chart/chartType"],
      ["chartOptions", "chart/chartOptions"],
    ]),
    ...mapState([
      "results",
      "genericCharts",
      "genericFilters"
    ]),
  },
  beforeMount () {
    if (!this.$route.query.charts) {
      this.emptyRequestError = true
    }

    this.loadGraphs(this.$route.query.charts.split(","))
    this.loadFilters(this.$route.query.filters.split(","))
  },
  methods: {
    componentName (chartType) {
      return `${chartType[0].toUpperCase()}${chartType.substring(1)}Chart`
    },
    ...mapActions([
      "composeChartData",
      "getChartByHash",
      "getFilterByHash"
    ]),
    loadGraphs (chartHashes) {
      chartHashes.forEach(hash => {
        this.getChartByHash({ hash })
        }
      )
    },
    loadFilters (filterHashes) {
      filterHashes.forEach(filter => {
        this.getFilterByHash(filter)
        }
      )
    },
    /**
     * read the current filter settings on the actual filter components
     * Updating active filter will trigger a update in the chart components
     * Chart components will make a new WPS request for the filtered data.
     */
    updateFilters () {
      const filters = this.genericFilters.map(filter => {
        // $refs are child components
        return this.$refs[filter.name]?.[0].$data.filter
      })

      this.activeFilters = {
        filters
      }
    }
  },
}
</script>
