<template>
  <v-container grid-list-lg>
    <v-card>
      <v-card-title primary-title> Aggregation Builder </v-card-title>
      <v-card-text>
        <v-row v-if="_aggregations.length > 0">
          <v-autocomplete
            :items="_aggregations"
            item-text="name"
            return-object
            v-model="aggregation"
            label="Select Aggregation Type"
          />
        </v-row>
        <v-row v-if="aggregation">
          <p>
            {{ aggregation.description }}
          </p>
        </v-row>
        <template v-if="aggregation">
          <SelectDataSources />
          <SelectAttributes />
          <SelectFilters />
        </template>
      </v-card-text>
      <v-card-actions>
        <v-btn v-if="aggregation" @click="prepareExecution('executeQuery')"> Execute </v-btn>
        <v-btn v-if="aggregation" @click="prepareExecution('saveQuery')"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { generateStoreGetterSetter } from "@/store/utils/generators"
import { mapActions, mapGetters, mapState } from "vuex"
import SelectDataSources from "./SelectDataSources.vue"
import SelectAttributes from "./SelectAttributes.vue"
import SelectFilters from "./SelectFilters.vue"
export default {
  name: "AggregationBuilder",
  components: {
    SelectDataSources,
    SelectAttributes,
    SelectFilters,
  },
  data: () => ({
    testAttributes: [],
  }),
  computed: {
    ...generateStoreGetterSetter([
      ["dataSources", "aggregation/dataSources"],
      ["filters", "aggregation/filters"],
      ["attributes", "aggregation/attributes"],
      ["aggregation", "aggregation/definition"],
      ["inputs", "aggregation/inputs"],
    ]),
    ...mapGetters(["_dataSources", "_aggregations", "_attributes"]),
    ...mapState(["chart"]),
  },
  methods: {
    ...mapActions([
      "prepareExecution",
      "execute",
      "fetchSchemas",
      "updateInputSchema",
      "updateDataSource",
    ]),
  },
};
</script>

<style lang="scss">
.sel-attr {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: lightgray;
  }
}
</style>
