<template>
    <v-container grid-list-lg>
    <v-card>
        <v-card-title primary-title> Chart Vorschau </v-card-title>
        <v-card-text v-if="charts.length > 0">
          <template v-if="filters.length > 0">
            <ChartFilter
              v-for="filter in filters"
              :key="filter.name"
              :ref="filter.name"
              :config="filter"
              @chartFilter="updateFilters"/>
          </template>
          <template>
            <component
              v-for="(chart, i) in [charts[charts.length - 1]]"
              :key="i"
              :is="componentName(chart.chartType)"
              :chartOptions="chart.chartOptions.options"
              :chartData="chart.chartData"
              :hash="hash"
              :additionalOptions="activeFilters"
            />
          </template>
        </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
import { mapState } from "vuex"
import BarChart from "@/components/charts/chartjs/BarChart.vue"
import PieChart from "@/components/charts/chartjs/PieChart.vue"
import PolarAreaChart from "@/components/charts/chartjs/PolarAreaChart.vue"
import LineChart from "@/components/charts/chartjs/LineChart.vue"
import BarChartHorizontal from "@/components/charts/chartjs/BarChartHorizontal.vue"
import TreeMap from "@/components/charts/chartjs/TreeMap.vue"
import ChartFilter from "@/components/charts/ChartFilter.vue"

export default {
 name: "ChartPreview",
  components: {
    BarChart,
    PieChart,
    LineChart,
    PolarAreaChart,
    BarChartHorizontal,
    TreeMap,
    ChartFilter
  },
  data: () => ({
    activeFilters: {}
  }),
  computed: {
    ...mapState([
      "filters",
      "charts",
      "storedQueries"
    ]),
    hash () {
      return this.storedQueries.selected?.[0]?.hash
    }
  },
  methods: {
    componentName (chartType) {
      return `${chartType[0].toUpperCase()}${chartType.substring(1)}Chart`
    },
    updateFilters () {
      const filters = this.filters.map(filter => {
        return this.$refs[filter.name]?.[0].$data.filter
      })

      this.activeFilters = {
        filters
      }
    }
  }
}
</script>
