<template>
  <v-container grid-list-lg>
    <v-card>
      <v-card-title primary-title> Chart Builder </v-card-title>
      <v-card-text>
        <v-row>
          <v-select
            :items="chartTypes"
            v-model="chartType"
            label="label"
          ></v-select>
        </v-row>
        <v-row dense>
          <v-card-title secondary-title> Dataset Optionen </v-card-title>
        </v-row>
        <v-row v-for="(option, key) in _datasetOptions" :key="'dataset' + key">
          <v-combobox
            :label="beautifyString(key)"
            v-model="chartOptions.dataset[key]"
            :items="getItems(option)"
            outlined
            dense
            multiple
          />
        </v-row>
        <v-row dense>
          <v-card-title secondary-title> Chart Optionen </v-card-title>
        </v-row>
        <v-row v-for="(option, key) in _chartOptions" :key="'opts-' + key">
          <v-combobox
            :label="beautifyString(key)"
            v-model="chartOptions.options[key]"
            :items="getItems(option)"
            outlined
            dense
          />
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn
          :disabled="results.length === 0"
          @click="composeChartData(results[results.length-1])"
        >
          Chart neu erzeugen
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { generateStoreGetterSetter } from "@/store/utils/generators"
import ChartOptions from "@/config/chart_options.json"
import { mapActions, mapState } from 'vuex'
import Utils from "@/store/utils";
export default {
  name: "ChartBuilder",
  data: () => ({
    chartTypes: ["line", "bar", "horizontalBar", "radar", "doughnut", "polarArea", "bubble", "pie", "scatter"],
  }),
  computed: {
    ...generateStoreGetterSetter([
      ["chartType", "chart/chartType"],
      ["chartOptions", "chart/chartOptions"],
    ]),
    ...mapState([
      "results"
    ]),
    _datasetOptions () {
      const optionsForChartType = {
        ...ChartOptions.dataset.general || {},
        ...ChartOptions.dataset[this.chartType] || {}
      }

      return optionsForChartType
    },
    _chartOptions () {
      const optionsForChartType = {
        ...ChartOptions.options.general || {},
        ...ChartOptions.options[this.chartType] || {}
      }

      return optionsForChartType
    }
  },
  methods: {
    getItems (option) {
      return Array.isArray(option) ? option : []
    },
    ...mapActions([
      "composeChartData"
    ]),
    beautifyString(str) {
      return Utils.string.beautifyString(str)
    }
  }
}
</script>
