<template>
  <v-container grid-list-lg>
    <v-card>
      <v-card-title primary-title> Export Dashboard Konfiguration </v-card-title>
      <v-card-text>
        <v-row>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" @click="previewDashboard">
          Vorschau
        </v-btn>
        <v-btn color="success" @click="exportDashboard">
          Herunterladen
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<script>
import { mapActions } from "vuex"
export default {
  name: "ExportDashboard",
  computed: {},
  methods: {
      ...mapActions([
          "exportDashboard",
          // "previewDashboard"
      ]),
      previewDashboard () {
        const filters = this.$store.state.storedFilters.selected.map(filter => filter.hash).join(",")
        const charts = this.$store.state.storedQueries.selected.map(query => query.hash).join(",")
        const url = `/dashboard?charts=${charts}&filters=${filters}`

        this.$router.push(url)
      }
  }
}
</script>
