<template>
  <v-container grid-list-lg>
    <v-card>
      <v-card-title primary-title> Filter Builder </v-card-title>
      <v-card-text>
        <v-row>
          <v-select
            :items="filterTypes"
            v-model="filterType"
            label="label"
          ></v-select>
        </v-row>
        <v-row dense>
          <v-card-title secondary-title> Filter Optionen </v-card-title>
        </v-row>
        <v-row v-for="(option, key) in _filterOptions" :key="key">
          <template v-if="option === 'string'">
            <v-text-field
                :label="beautifyString(key)"
                v-model="filter[key]"
                outlined
                dense
            />
          </template>
          <template v-else-if="option === 'number'">
            <v-text-field
              :label="beautifyString(key)"
              v-model="filter[key]"
              type="number"
              outlined
              dense
            />
          </template>
          <template v-else-if="option === 'range'">
            <v-text-field
              :label="beautifyString(key)"
              v-model="filter[key][0]"
              type="number"
              outlined
              dense
            />
            <v-text-field
              v-model="filter[key][1]"
              type="number"
              outlined
              dense
            />
          </template>
          <template v-else-if="option === 'boolean'">
            <v-switch
                :label="beautifyString(key)"
                v-model="filter[key]"
            />
          </template>
          <template v-else>
            <v-combobox
              :label="beautifyString(key)"
              v-model="filter[key]"
              outlined
              dense
              multiple
              chips
            />
          </template>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="testFilter"> Filter testen </v-btn>
        <v-btn @click="saveFilter"> Filter speichern </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import FilterOptions from "@/config/filter_options.json";
import Utils from "@/store/utils";

export default {
  name: "FilterBuilder",
  data: () => ({
    FilterOptions,
    filterTypes: ["select", "slider", "map"],
    filterType: "select",
    filter: {
      type: "select",
    },
  }),
  computed: {
    _filterOptions() {
      const optionsForFilterType = {
        ...(FilterOptions.general || {}),
        ...(FilterOptions[this.filter.type] || {}),
      };

      return optionsForFilterType;
    },
  },
  watch: {
    filterType() {
      this.filter = { type: this.filterType };

      let init;
      for (const key in this._filterOptions) {
        switch (this._filterOptions[key]) {
            case "string":
                init = ""
                break
            case "number":
                init = 0
                break
            case "boolean":
                init = false
                break
            case "range":
                init = [0,100]
                break
            case "multiple":
                init = []
        }

        this.filter[key] = init
      }
    },
  },
  methods: {
    testFilter() {
      this.$store.commit("addfilter", this.filter)
    },
    saveFilter() {
      this.$store.dispatch("saveFilter", this.filter)
    },
    beautifyString(str) {
      return Utils.string.beautifyString(str)
    }
  },
};
</script>
