<template>
  <v-row>
    <v-col sm="3">
      <v-card-title secondary-title> Select Filters </v-card-title>
    </v-col>
    <template v-for="(filter, index) in filters">
      <v-col :key="index">
        <v-card>
          <v-card-title secondary-title>
            {{ filter.title }}
          </v-card-title>
          <v-subheader>{{ filter.name }}</v-subheader>
          <v-card-subtitle> Type: {{ filter.type }} </v-card-subtitle>
          <v-card-text>
            <template v-if="filter.type === 'someFilterTypes'">
              <!-- What happens if you have predefined filters or range filters or...  -->
            </template>
            <template v-else>
              <v-text-field
                label="CQL Filter"
                v-model="filter.value"
                hint="Freie Texteingabe, z.B. bezirk='Altona'"
              />
            </template>
          </v-card-text>
        </v-card>
      </v-col>
    </template>
  </v-row>
</template>

<script>
import { generateStoreGetterSetter } from "@/store/utils/generators"
export default {
  name: "SelectFilters",
  computed: {
    ...generateStoreGetterSetter([
      ["filters", "aggregation/filters"],
    ]),
  }
}
</script>
