<template>
  <v-row>
    <v-col sm="3">
      <v-card-title secondary-title> Select Attributes </v-card-title>
    </v-col>
    <template v-for="(input, index) in inputs" fluid>
      <v-col v-if="input.type" :key="index">
        <v-card v-if="input.featureTypes.length > 0">
          <v-card-title secondary-title>
            {{ input.name }}
          </v-card-title>
          <v-card-subtitle>
            {{ input.dataSource.name }}
          </v-card-subtitle>
          <v-card-text
            v-for="featureType in input.featureTypes"
            :key="featureType.name"
          >
            <v-select
              :items="featureType.attributes"
              v-model="input.value"
              :label="input.type"
              :hint="featureType.name"
              item-value="name"
              item-text="name"
            >
              <template v-slot:item="data">
                <div class="sel-attr">
                  <span>
                    {{ data.item.name }}
                  </span>
                  <small style="color: lightgrey">
                    {{ data.item.type }}
                  </small>
                </div>
              </template>
            </v-select>
          </v-card-text>
        </v-card>
      </v-col>
    </template>
  </v-row>
</template>

<script>
import { generateStoreGetterSetter } from "@/store/utils/generators"
export default {
  name: "SelectAttributes",
  computed: {
    ...generateStoreGetterSetter([
      ["inputs", "aggregation/inputs"],
    ]),
  }
}
</script>
