<template>
  <v-row>
    <v-col sm="3">
      <v-card-title secondary-title> Select Inputs </v-card-title>
    </v-col>
    <template v-for="(input, index) in inputs">
      <v-col v-if="!input.hasOwnProperty('linked')" :key="index">
        <v-card>
          <v-card-text>
            <template v-if="input.hasOwnProperty('items')">
              <v-autocomplete
                :items="input.items"
                v-model="input.value"
                :label="input.name"
              />
            </template>
            <template v-else>
              <v-autocomplete
                :items="_dataSources"
                :hint="input.type"
                item-text="name"
                return-object
                v-model="input.dataSource"
                :label="input.name"
                @change="updateDataSource({ input, index })"
              />
              <template v-if="input.featureTypes.length > 0">
                <template v-for="(featureType, index) in input.featureTypes">
                  <v-select
                    label="FeatureType Schema"
                    :key="index"
                    :items="featureType.attributes"
                    dense
                    item-text="name"
                    :item-disabled="() => true"
                  >
                    <template v-slot:item="data">
                      <div class="sel-attr">
                        <small>
                          {{ data.item.name }}
                        </small>
                        <small style="color: lightgrey">
                          {{ data.item.type }}
                        </small>
                      </div>
                    </template>
                  </v-select>
                </template>
              </template>
            </template>
          </v-card-text>
        </v-card>
      </v-col>
    </template>
  </v-row>
</template>

<script>
import { generateStoreGetterSetter } from "@/store/utils/generators"
import { mapActions, mapGetters } from "vuex"
export default {
    name: "SelectDataSources",
    computed: {
    ...generateStoreGetterSetter([
      ["aggregation", "aggregation/definition"],
      ["inputs", "aggregation/inputs"],
    ]),
    ...mapGetters([
      "_dataSources",
    ])
  },
  methods: {
    ...mapActions([
      "updateDataSource"
    ])
  }
}
</script>
