<template>
  <v-container grid-list-lg>
    <v-card>
      <v-card-title primary-title> Gespeicherte Queries </v-card-title>
      <v-card-text>
        <v-row>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Durchsuchen"
            single-line
            hide-details
          />
        </v-row>
        <v-row>
          <v-data-table
            v-model="selected"
            :headers="headers"
            :items="storedQueries.queries"
            class="elevation-1"
            show-select
            item-key="hash"
            :search="search"
            :sort-by="sortBy"
            style="width: 100%"
          >
            <template v-slot:item.query="{ item }">
              <span>{{ item.query.aggregation.name }}</span>
            </template>
            <template v-slot:item.values="{ item }">
              <span v-for="(input, i) in item.query.aggregation.inputs" :key="i"
                ><i>{{ input.name }}</i
                >: {{ input.value }}<br
              /></span>
            </template>
          </v-data-table>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn :disabled="selected.length !== 1" @click="getResults">
          Ausgewählten Query ausführen
        </v-btn>
        <v-btn
          color="error"
          :disabled="selected.length === 0"
          @click="deleteQuery"
        >
          Ausgewählten Query löschen
        </v-btn>
        <v-btn color="primary" @click="loadStoredQueries">
          Aktualisieren
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { generateStoreGetterSetter } from "@/store/utils/generators";
import { mapActions, mapState } from "vuex";
export default {
  name: "StoredQueries",
  data: () => ({
    headers: [
      { text: "Query", value: "query" },
      { text: "Hash", value: "hash" },
      { text: "Werte", value: "values" },
    ],
    sortBy: null,
    search: "",
  }),
  computed: {
    ...generateStoreGetterSetter([["selected", "storedQueries/selected"]]),
    ...mapState(["storedQueries"]),
  },
  watch: {
    selected() {
      if (this.selected.length > 0) {
        const selected = this.selected[0].query;

        // load query params in the builder
      }
    },
  },
  methods: {
    ...mapActions(["getResults", "loadStoredQueries"]),
    deleteQuery() {
      if (confirm("Möchten Sie den ausgewählten Query wirklich löschen?")) {
        // this.$store.dispatch("deleteQuery", this.selected[0].hash);
      }
    },
  },
};
</script>
