<template>
  <v-container grid-list-lg>
    <v-card>
      <v-card-title primary-title> Gespeicherte Filter </v-card-title>
      <v-card-text>
        <v-row>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Durchsuchen"
            single-line
            hide-details
          />
        </v-row>
        <v-row>
            <v-data-table
                v-model="selected"
                :headers="headers"
                :items="storedFilters.filters"
                class="elevation-1"
                show-select
                item-key="hash"
                :search="search"
                :sort-by="sortBy"
                style="width:100%"
            >
            <!-- eslint-disable-next-line -->
            <template v-slot:item.filter="{ item }">
                <span>{{ item.filter.name }}</span>
            </template>
            <!-- eslint-disable-next-line -->
            <template v-slot:item.values="{ item }">
                <span v-for="(val, key) in item.filter" :key="key"
                ><i>{{ key }}</i
                >: {{ val }}<br
                /></span>
            </template>
            </v-data-table>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn
            :disabled="selected.length !== 1"
            @click="testFilter"
        >
            Ausgewählten Filter anwenden
        </v-btn>
        <v-btn
            color="error"
            :disabled="selected.length === 0"
            @click="deleteFilter"
        >
            Ausgewählten Filter löschen
        </v-btn>
        <v-btn
            color="primary"
            @click="loadStoredFilters"
        >
            Aktualisieren
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { generateStoreGetterSetter } from '@/store/utils/generators';
import { mapActions, mapState } from "vuex"
export default {
  name: "StoredQueries",
  data: () => ({
    headers: [
      { text: "Filter", value: "filter" },
      { text: "Hash", value: "hash" },
      { text: "Werte", value: "values" },
    ],
    sortBy: null,
    search: ""
  }),
  computed: {
    ...generateStoreGetterSetter([
      ["selected", "storedFilters/selected"]
    ]),
    ...mapState(["storedFilters"]),
  },
  watch: {
    selected () {
      if (this.selected.length > 0) {
        const selected = this.selected[0].filter

        // load query params in the builder
      }
    }
  },
  methods: {
      ...mapActions(["loadStoredFilters"]),
      deleteFilter () {
        if (confirm("Möchten Sie den ausgewählten Filter wirklich löschen?")) {
          this.$store.dispatch("deleteFilter", this.selected[0].hash)
        }
      },
      testFilter () {
        for (const filterObj of this.selected) {
          this.$store.commit("addfilter", filterObj.filter)
        }
      }
  }
}
</script>
