<template>
    <v-app style="overflow:hidden">
      <v-main>
        <v-app-bar
          absolute
          color="white"
          elevate-on-scroll
          scroll-target="#scroll"
        >
          <v-app-bar-nav-icon></v-app-bar-nav-icon>

          <v-toolbar-title>{{ route }}</v-toolbar-title>

          <v-tabs right>
            <v-tab to="/builder">Builder</v-tab>
            <v-tab to="/dashboard">Preview</v-tab>
          </v-tabs>
        </v-app-bar>
        <v-sheet id="scroll">
          <router-view />
        </v-sheet>
        <!-- <DashboardBuilder /> -->
      </v-main>
    </v-app>
</template>

<script lang="ts">
import Vue from "vue"
import DashboardBuilder from "./views/DashboardBuilder.vue"
export default Vue.extend({
  name: "App",
  components: {
    DashboardBuilder,
  },
  computed: {
    route () {
      return this.$route.name
    }
  },
  watch: {
      '$route' (to) {
          this.updatePageTitle(to)
      }
  },
  mounted () {
    this.updatePageTitle(this.$route)
  },
  methods: {
    updatePageTitle (route) {
      document.title = route.meta.title || "Dashboard Builder"
    }
  }
})
</script>

<style lang="scss">
  body, html {
    overflow: hidden;
  }
  #scroll {
    max-height: 100vh;
    overflow-y: scroll;
    padding-top: 60px;
  }
</style>
